<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
  <title>Home</title>
    {% endblock %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/css/owl.theme.default.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/aos/css/aos.css'%}">
  <link rel="stylesheet" href="{% static 'css/style.min.css'  %}">
  <link rel="stylesheet" href="{% static 'css/fontastic.css'%}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
</head>


<body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
<!-- Here comes the navbar include -->
{% include 'blog/navbar.html' %}
{% block content %}


{% endblock %}

  <script src="{% static 'vendors/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'vendors/bootstrap/bootstrap.min.js'%}"></script>
  <script src="{% static 'vendors/owl-carousel/js/owl.carousel.min.js'%}"></script>
  <script src="{% static 'vendors/aos/js/aos.js'%}"></script>
  <script src="{% static 'js/landingpage.js'%}"></script>
{% include 'blog/footer.html' %}
</body>

